.heroe {
	border: 1px solid #65558f;
	padding: 10px 10px 15px;
	flex: 1 1 700px;
	display: flex;
	flex-direction: column;
}

.heroe h1,
.heroe h2 {
	margin: 0;
	margin-bottom: 15px;
}

.heroe__name {
	border-bottom: 1px solid #000;
}

.heroe__info {
	margin-bottom: 15px;
}

.heroe__info li {
	margin: 0;
	padding: 3px;
	margin-bottom: 5px;
	border-bottom: 1px solid #000;
}

.info {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

button {
	padding: 10px 24px;
	border-radius: 100px 100px 100px 100px;
	border: none;
	color: #fff;
	background-color: #65558f;
	cursor: pointer;
}

button:hover {
	background: rgba(0, 0, 0, 0);
	color: #65558f;
	box-shadow: inset 0 0 0 3px rgb(101, 85, 143);
}

button:active {
	border-color: rgba(101, 85, 143, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
		0 0 8px rgba(101, 85, 143, 0.6);
	outline: 0 none;
}

.heroe__vehicles {
	margin-top: auto;
	margin-right: auto;
}
