.alert {
	width: 512px;
	padding: 16px;
	margin: auto;
	max-width: 90%;
}

.alert-3-danger {
	border: 1px solid #ff3838;
	border-radius: 8px;
	background-color: rgba(255, 56, 56, 0.05);
}

.alert-title {
	margin-top: 0;
	margin-bottom: 8px;
	font-size: 18px;
	font-family: "Poppins", sans-serif;
	color: #ff3838;
}

.alert-content {
	margin: 0;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: #555555;
}
