* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body > div {
	max-width: 1440px;
	margin: auto;
	margin-top: 10px;
}

.heroes {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.modal-active {
	overflow: hidden;
	padding-right: 16px;
}
